{% extends 'home/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block style_for_home %}
    <style>
        .page-footer {
            background-color: #222222;
            padding-top: 100px;
            color: white;
        }
        a{
            text-decoration:none;
            color:#ffffff
        }
    </style>
{% endblock style_for_home %}



{% block address-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome {{request.user}} </h3>
            <div class="col-sm-2 border-end pt-5">
                <ul class="list-unstyled">
                    <li class="d-grid pt-5"><a href="{% url 'profile'%}" class="btn">Add address</a></li>
                    <li class="d-grid pt-5"><a href="{% url 'address'%}" class="btn">Address</a></li>
                    <li class="d-grid pt-5"><a href="{% url 'order'%}" class="btn">Orders</a></li>
                    <li class="d-grid pt-5"><a href="{% url 'logout'%}" class="btn">Logout</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 mt-5 pt-5">
                <div class="row">
                    {% for a in add %}
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                    <h3 class="pb-5">Address {{forloop.counter}}</h3>
                                    <p>Name: {{a.name}}</p>
                                    <p>Locality: {{a.locality}} </p>
                                    <p>City: {{a.city}} </p>
                                    <p>State: {{a.state}}</p>
                                    <p>Pin Code: {{a.zipcode}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                 
                </div>
               </div>
        </div>
    </div>
{% endblock address-content %}