{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style_for_home %}
    <style>
        .page-footer {
            background-color: #222222;
            padding-top: 100px;
            color: white;
        }
        a{
            text-decoration:none;
            color:#ffffff
        }
    </style>
{% endblock style_for_home %}

{% block dismissable_alert%} 
    <!--dismissible alert-->
    <div class="container-fluid">
        {% for message in messages%}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}} </strong>{{ user.first_name}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor%}
    </div>
{% endblock dismissable_alert %}

{% block banner_carousel %}
    <!--carousel-->
    <div class="container-fluid mt-3">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <a href="{% url 'home'%}">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'images/c-image6.jpg' %}" class="d-block w-100" height="600" alt="...">
                        <div class="carousel-caption d-none d-md-block text-dark">
                            <h5>Get a Plant to Flourish Your Space</h5>
                            <p>By Green Nursery</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'images/c-image5.jpg' %}" class="d-block w-100" height="600" alt="...">
                        <div class="carousel-caption d-none d-md-block text-white">
                            <h5>Chandelier</h5>
                            <p>These are some exceptional work made by the artist from cups.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/c-image3.jpg' %}" class="d-block w-100" height="600" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Art Designs</h5>
                            <p>It is a Jaguar made with steel which is unused</p>
                        </div>
                    </div>
                </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock banner_carousel %}

{% block creative_carousel %}
    <!--product carousel for creative section-->
    <!-- 1st Product Slider -->
    <main class="main">
        <section class="bg-grey-9 section-padding">
            <div class="container pt-15 pb-25">
                <div class="heading-tab d-flex">
                    <div class="heading-tab-left wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>Creative</span> Products</h3>
                    </div>
                </div>
                
                <div class="row">

                    <!--Should be used in home page-->
                    <div class="col-lg-3 d-none d-lg-flex">
                        <div class="banner-img style-2 wow fadeIn animated">
                            <img src="{% static 'imgs/banner/banner-9.jpg'%}" alt="">
                            <div class="banner-text">
                                <span>Artistic Area</span>
                                <h4 class="mt-5" style="color:#40BAA4;">Save 17% on <br>During Hot sales</h4>
                                <a href="{% url 'creativesection'%}" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-9 col-md-12">
                        <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                            <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>

                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">

                                        {% for c in creativesec %} 
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="#">
                                                        <img style="height: 250px;" src="{{ c.product_image.url }}" alt="">
                                                    </a>
                                                </div>
                                                
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn small hover-up" href="{% url 'productDetail' c.id%}"><i class="fi-rs-eye"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div style="height: 150px;" class="product-content-wrap">
                                                <div style="overflow:hidden;max-height:20px;" class="product-category" title="Brand Name">
                                                    <a>{{ c.brand}}</a>
                                                </div>
                                                <h2 style="overflow:hidden;max-height:20px;"><a href="#">{{ c.title}}</a></h2>
                                                <div class="rating-result" title="UserRating">
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </div>
                                                <div class="product-price" >
                                                    <span>Rs.{{ c.discount_price}} </span>
                                                    <span class="old-price" >Rs.{{ c.selling_price}}</span>
                                                </div>
                                                <div class="product-action-1 show" >
                                                    <form action="/creativesection/cart">
                                                        <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--End tab-pane-->
                        </div>
                        <!--End tab-content-->
                    </div>
                    <!--End Col-lg-9-->
                </div>
            </div>
        </section>
        
    </main>
    <!-- End 1st Product Slider -->
{% endblock%}

{% block scrapyard_carousel %}
    <!-- 2nd Product Slider -->
    <main class="main">
        <section class="bg-grey-9 section-padding">
            <div class="container pt-15 pb-25">
                <div class="heading-tab d-flex">
                    <div class="heading-tab-left wow fadeIn animated">
                        <h3 class="section-title mb-20"><span>Scrap</span> Products</h3>
                    </div>
                </div>
                
                <div class="row">

                    <!--Should be used in home page-->
                    <div class="col-lg-3 d-none d-lg-flex">
                        <div class="banner-img style-2 wow fadeIn animated">
                            <img style="height:100%" src="{% static 'imgs/banner/scrap-car_banner.jpg'%}" alt="">
                            <div class="banner-text">
                                <span>Artistic Area</span>
                                <h4 class="mt-5 text-info">Save 28% on <br>During Scrap-Deal sales</h4>
                                <a href="{% url 'scrapsection'%}" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-9 col-md-12">
                        <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                            <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                                <div class="carausel-4-columns-cover arrow-center position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-2-arrows"></div>

                                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns-2">

                                        {% for s in scrapyardsec %} 
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="#">
                                                        <img style="height: 250px;" src="{{ s.product_images.url }}" alt="">
                                                    </a>
                                                </div>
                                                
                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn small hover-up" href="{% url 'scrapProductDetail' s.id %}"><i class="fi-rs-eye"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div style="height: 150px;" class="product-content-wrap">
                                                <div style="overflow:hidden;max-height:20px;" class="product-category" title="Brand Name">
                                                    <a>{{ s.brand}}</a>
                                                </div>
                                                <h2 style="overflow:hidden;max-height:20px;"><a href="#">{{ s.title}}</a></h2>
                                                <div class="rating-result" title="UserRating">
                                                    <span>
                                                        <span></span>
                                                    </span>
                                                </div>
                                                <div class="product-price" >
                                                    <span>Rs.{{ s.discount_price}} </span>
                                                </div>
                                                <form method="POST" action="{% url 'contactseller' s.id %}">
                                                    {% csrf_token %}
                                                    <div class="product-action-1 show" >
                                                        <button type="submit" aria-label="Contact" class="action-btn hover-up">
                                                            <i class="fa fa-id-badge" aria-hidden="true"></i>
                                                          </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--End tab-pane-->
                        </div>
                        <!--End tab-content-->
                    </div>
                    <!--End Col-lg-9-->
                </div>
            </div>
        </section>
        
    </main>
    <!-- End 2nd Product Slider -->
{% endblock  %}

