{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style_for_home %}
    <style>
        .page-footer {
            background-color: #222222;
            padding-top: 100px;
            color: white;
        }
        a{
            text-decoration:none;
            color:#ffffff
        }
    </style>
{% endblock style_for_home %}

{% block dismissable_alert%} 
    <!--dismissible alert-->
    <div class="container-fluid">
        {% for message in messages%}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>{{user.first_name}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor%}
    </div>
{% endblock dismissable_alert %}

{% block banner_carousel %}
    <!--carousel-->
    <div class="container-fluid mt-3">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <a href="{% url 'home'%}">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'images/c-image6.jpg' %}" class="d-block w-100" height="600" alt="...">
                        <div class="carousel-caption d-none d-md-block text-dark">
                            <h5>Get a Plant to Flourish Your Space</h5>
                            <p>By Green Nursery</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'images/c-image5.jpg' %}" class="d-block w-100" height="600" alt="...">
                        <div class="carousel-caption d-none d-md-block text-white">
                            <h5>Chandelier</h5>
                            <p>These are some exceptional work made by the artist from cups.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/c-image3.jpg' %}" class="d-block w-100" height="600" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Art Designs</h5>
                            <p>It is a Jaguar made with steel which is unused</p>
                        </div>
                    </div>
                </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock banner_carousel %}

{% block creative_carousel %}
    <!--product carousel for creative section-->
    <!-- 1st Product Slider -->
    <div class="m-3">
        <h2>Creative Products</h2>
        <!-- Slider 1 -->
        <div class="owl-carousel" id="slider1">
            {% for c in creativesec %} 
            <a href="#link" class="btn">
                <div class="item">
                    <img src="{{ c.product_image.url }}" alt="" height="300px">
                    <span class="fw-bold">{{ c.title}}</span>
                    <br>
                    <span class="fs-5">Rs.{{ c.discount_price}}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- End 1st Product Slider -->
{% endblock%}

{% block scrapyard_carousel %}
    <!-- 2nd Product Slider -->
    <div class="m-3">
        <h2>Scrap Items</h2>
        <!-- Slider 2 -->
        <div class="owl-carousel" id="slider2">
            {% for s in scrapyardsec %} 
            <a href="#link" class="btn">
                <div class="item ">
                    <img src="{{ s.product_images.url }}" alt="" height="300px">
                    <span class="fw-bold">{{ s.title}}</span>
                    <br>
                    <span class="fs-5">Rs. {{ s.discount_price}}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- End 2nd Product Slider -->
{% endblock  %}